* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background: #f3f4f6;
}

.app {
  margin: 50px auto;
  background: #fff;
  border-radius: 18px;
  padding: 35px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.08);
}

.hero {
  background-image: url('./images/header.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 260px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 15px;
  margin-bottom: 30px;
}

.hero-icon {
  width: 130px;
  height: 130px;
}

.hero h1 {
  font-size: 42px;
  color: #144422;
  font-weight: 700;
}

.hero p {
  color: #3c6147;
  margin-top: 8px;
  font-size: 20px;
}
.add-form {
  display: flex;
  gap: 12px;
  margin-bottom: 35px;
}

.item-input {
  flex: 1;
}

.quantity-input {
  width: 90px;
  text-align: center;
}

.add-form input {
  padding: 14px;
  border: 1px solid #ddd;
  border-radius: 10px;
  font-size: 16px;
  outline: none;
}

.add-form input:focus {
  border-color: #34a853;
}

.add-form button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  width: 14%;
  border: none;
  background: #34a853;
  color: white;
  padding: 14px 24px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.25s;
}

.add-form button:hover {
  background: #2b9448;
}

.plus-btn img {
  width: 20px;
  height: 20px;
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.sort-box {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 20px;
}

.sort-box label {
  font-weight: 600;
  color: #555;
}

.sort-box select {
  padding: 10px 14px;
  border-radius: 8px;
  border: 1px solid #ddd;
}

.clear-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: white;
  border: 2px solid red;
  color: red;
  padding: 11px 20px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.25s;
}

.clear-btn:hover {
  background: #dc2626;
  color: white;
}

.shopping-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 35px;
}

.checkbox {
  accent-color: green;
}

.shopping-item {
  display: grid;
  grid-template-columns: 1fr 200px 70px 50px;
  align-items: center;
  padding: 18px;
  background: #fafafa;
  border: 1px solid #ececec;
  border-radius: 12px;
  transition: 0.25s;
  margin-bottom: 20px;
}

.shopping-item:hover {
  background: #f6f6f6;
}

.shopping-item input[type='checkbox'] {
  width: 22px;
  height: 22px;
}

.item-name {
  font-size: 18px;
  color: #333;
}

.item-name.purchased {
  text-decoration: line-through;
  color: #999;
}

.item-quantity {
  text-align: center;
  font-weight: bold;
  color: #2b9448;
  background-color: #eeeeee;
  width: 60px;
  padding: 5px;
  font-size: 20px;
}

.delete-btn {
  border: 1px solid rgb(255, 141, 141);
  padding: 10px;
  color: rgb(255, 69, 69);
  background: none;
  font-size: 20px;
  cursor: pointer;
}

.empty {
  text-align: center;
  color: #999;
  padding: 40px;
  font-size: 18px;
}

.stats {
  display: flex;
  justify-content: space-around;
  padding-top: 25px;
  border-top: 1px solid #eee;
}

.stat-card {
  display: flex;
  align-items: center;
  gap: 14px;
}

.stat-card img {
  width: 100px;
  height: 100px;
}

.stat-card p {
  color: #2b9448;
  font-size: 30px;
  font-weight: 700;
}

.stat-card .remaining {
  color: rgb(227, 227, 56);
  font-size: 30px;
  font-weight: 700;
}

footer {
  text-align: right;
  color: #34a853;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 600;
}
